* { margin: 0; padding: 0; }

body { font-family: 'Source Sans Pro', sans-serif; }

h3 { font-size: 32px; line-height: 40px; font-weight: 700; letter-spacing: -0.2px; color: #134880; margin-bottom: 20px; }
p { font-size: 18px; line-height: 26px; letter-spacing: -0.2px; color: #484a4c; margin-bottom: 0; }

.wrapper { width: 100%; }
.container { width: 100%; max-width: 981px; margin: 0 auto; padding: 0 20px; box-sizing: border-box; }

.slider-section { margin: 60px 0; }
.slider-section .slider-part { display: flex; flex-direction: column; }
.slider-section .slider-part .slider { clip-path: inset(0 0vw 0vw -100vw); }
.slider-section .slider-part .bottom-with-navigation { display: flex; justify-content: flex-end; }
.slider-section .slider-part .bottom-with-navigation .slider { clip-path: inset(0); }
.slider-section .slider-part .slider .inner { display: flex; flex-direction: row; justify-content: flex-end; column-gap: 10px; margin-bottom: 10px; position: relative; }
.slider-section .slider-part .slider.bottom .inner { margin-bottom: 0px; }
.slider-section .slider-part .slider .inner img { height: 200px; width: auto; border-radius: 5px; }

.slider-section .slider-part .navigation { display: flex; flex-direction: column; row-gap: 10px; margin-left: 40px; }
.slider-section .slider-part .navigation .arrow { width: 60px; height: 60px; background-color: unset; border: 1px solid #ddd; border-radius: 5px; background-position: center; background-repeat: no-repeat; cursor: pointer; box-sizing: border-box; }
.slider-section .slider-part .navigation .arrow.active { border: 1px solid #134880; }
.slider-section .slider-part .navigation .arrow:hover, .slider-section .navigation .arrow:focus { border: 1px solid #134880; }

.slider-section .slider-part .navigation .arrow.prev {background-image: url('../img/arrow-gray-left.png'); }
.slider-section .slider-part .navigation .arrow.prev.active,
.slider-section .slider-part .navigation .arrow.prev:hover,
.slider-section .slider-part .navigation .arrow.prev:focus {background-image: url('../img/arrow-blue-left.png'); }

.slider-section .slider-part .navigation .arrow.next { background-image: url('../img/arrow-gray-right.png'); }
.slider-section .slider-part .navigation .arrow.next.active,
.slider-section .slider-part .navigation .arrow.next:hover,
.slider-section .slider-part .navigation .arrow.next:focus {background-image: url('../img/arrow-blue-right.png'); }

.slider-section .text-box { margin-bottom: 30px; }

/* Placeholder elementi */
.placeholder-section { display: flex; flex-direction: row; column-gap: 20px; }

.placeholder-section .element { display: flex; flex-direction: row; align-items: center; background-color: #dddddd; height: 100px; border-radius: 5px; padding: 0px 20px 0px 81px; }
.placeholder-section .element.top { border-radius: 0 0 5px 5px; }
.placeholder-section .element.bottom { border-radius: 5px 5px 0 0; }
.placeholder-section .short { width: 27.333333%; }
.placeholder-section .long { width: calc(100% - 27.333333% - 20px); }
.placeholder-section .full { width: 100%; }

.placeholder-section p { font-family: 'HelveticaNeue', sans-serif; font-size: 15px; line-height: 100%; color: #FFF; font-weight: 600; }
/* /Placeholder elementi */